*{ 
padding: 0;
margin: 0;
}
#cabeceraContenido{ 
    width: 100%;
    background-color: #67999A;
    display: flex;
}
#cuerpoContenido{
    width: 100%;
    background-color: #d3ee9f;
    display: flex;
    padding-top: 50px;
}
footer{
    width: 100%;
    background-color: #7B9E35;
}
#cabeceraImagenNombre{
    flex: 30%;
}
#cabeceraMenu{
    flex: 70%;
    margin: 15px 20px 0 0;
    text-align: right;
}
ul li{
    text-decoration: none;
    display: inline;
    border-right: solid 2px #550101;
}
ul li a{
    color: #550101;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}
ul li a:hover{
    color: white;
    text-decoration: underline dashed;
}
#imagenNombreRedondo{
    width: 150px;
    height: 150px;
    position:relative;
    z-index: 1000;
    left: 5%;
    background-color: white;
    border-radius: 75px;
    background-image: url("../img/Recurso\ 7.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#nombreRectangulo{
    background-color: #013334;
    width: 10%;
    position:absolute;
    top: 14%;
    padding: 20px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
#LogoInicio{
    background-image: url("../img/Recurso\ 7.png");
    padding: 2px 0 0 18px;
    background-size: 18px;
    background-repeat: no-repeat;
}
#CuerpoImagen{
    flex: 40%;
}
#CuerpoDetalle{
    flex: 60%;
}
#bordeImagen{
    background-color: #d46b68;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    width: 62%;
    margin: auto;
}
img{
    border-radius: 10px;
}
h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
#DatosDetalle{
    text-align: justify;
    padding: 40px;
}
#Botones{
    display: flex;
}
#botonfavorito{
    flex: 50%;
}
#botonUbicacion{
    flex: 50%;
}
#marcofavorito{
    background-image: url(../img/Recurso\ 13.png);
}
.disenoBoton{
    background-position: left 5px center;
    width: 250px;
    background-color: #cccccc;
    border-radius: 20px;
    background-size: 28px;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 40px;
}
#marcoUbicacion{
    background-image: url(../img/Recurso\ 2.png);
}
.disenoBoton:hover{
    opacity: 60%;
    cursor: pointer;
}
ul li:last-child{
    border-right: none;
}
#menufooter{
    flex: 20%;
}
#Contenidofooter{
    flex: 40%;
    text-align: justify;
}
#Socialfooter{
    flex: 40%;
    text-align: center;
}
nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}
nav a:hover{
    color: #550101;
    font-size: 20px;
}
.Socialesfooter li{
    border: none;
}
li img{
    width: 5%;
    padding: 10px;
}
li img:hover{
    opacity: 60%;
    cursor: pointer;
    width: 6%;
}
#Marcofooter{
    display: flex;
    padding: 50px;
}